.container-fluid {
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#clock {
  letter-spacing: 1vh;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s;
}
